<div class="animated bounceInRight">
    <div class="card">
        <div class="card-header">
            <h2>Captura de Humedad</h2>
        </div>
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-12 actionbar">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="fg-line">
                                <input type="text" class="form-control input-sm" id="isearch" placeholder="buscar...." data-ng-model="searchReceptionEntries">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table id="data-table-command" class="table table-striped table-vmiddle">
                <thead>
                    <tr>
                        <th>Recepciones (Folios)</th>
                        <th>Fecha de Captura</th>
                        <th>Variedad</th>
                        <th>Productor</th>
                        <th data-column-id="">Agregar Humedad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="receptionEntry in receptionEntries | filter:searchUser">
                        <td>{{receptionEntry.Receptions}}</td>
                        <td>{{receptionEntry.DateEntry}}</td>
                        <td>{{receptionEntry.Variety}}</td>
                        <td>{{receptionEntry.Producer}}</td>
                        <td>
                            <button class="btn btn-icon command-delete" ng-click="redirectToAddHumidity()">
                                <span class="md md-format-color-reset"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>