<div class="animated bounceInRight">
    <div class="card">
        <div class="card-header">
            <h2>Muestreos (Recepciones)</h2>
        </div>
        <div class="card-body table-responsive">
            <div class="col-sm-12 actionbar">
                <div class="form-group">
                    <label for="isearch" class="col-sm-2 control-label">Buscar</label>
                    <div class="col-sm-12">
                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" id="isearch" placeholder="buscar...." data-ng-model="searchUser">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-vmiddle">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fecha</th>
                        <th>Peso</th>
                        <th>Porciento de Humedad</th>
                        <th>Número de nueces</th>
                        <th>Rendimiento</th>
                        <th>Peso total de nueces Comestibles</th>
                        <th>Sacos de Primera</th>
                        <th>Kilos de Primera</th>
                        <th>Sacos de Segunda</th>
                        <th>Kilos de Segunda</th>
                        <th>Sacos de Tercera</th>
                        <th>Kilos de Tercera</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sampling in samplings | filter:searchUser">
                        <td>{{sampling.Id}}</td>
                        <td>{{sampling.DateCapture | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{sampling.SampleWeight}}</td>
                        <td>{{sampling.HumidityPercent}}</td>
                        <td>{{sampling.WalnutNumber}}</td>
                        <td>{{sampling.Performance}}</td>
                        <td>{{sampling.TotalWeightOfEdibleNuts}}</td>
                        <td>{{sampling.SacksFirst}}</td>
                        <td>{{sampling.KilosFirst}}</td>
                        <td>{{sampling.SacksSecond}}</td>
                        <td>{{sampling.KilosSecond}}</td>
                        <td>{{sampling.SacksThird}}</td>
                        <td>{{sampling.KilosThird}}</td>
                        <td>
                            <button class="btn btn-icon command-edit" ng-click="redirectUpdate(sampling)">
                        <span class="md md-edit"></span>
                    </button>
                            <button class="btn btn-icon command-delete" ng-click="confirmationDelete(sampling.Id)">
                        <span class="md md-delete"></span>
                    </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>