<div class="animated bounceInRight">
    <div class="card">
        <form name="remissionForm" class="form-horizontal" role="form">
            <div class="card-header">
                <h2>Alta de Remisiones</h2>
            </div>
            <div class="card-body card-padding">
                <div class="form-group">
                    <label for="folio" class="col-sm-2 control-label">Folio *</label>
                    <div class="col-sm-10">
                        <div class="fg-line disabled">
                            <input required readonly class="form-control input-sm" id="folio" data-ng-model="folio">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cultivation" class="col-sm-2 control-label">Cultivo *</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input required type="text" name="Cultivation" class="form-control input-sm" id="cultivation" placeholder="cultivo" ng-minlength="3"
                                ng-maxlength="150" data-ng-model="remission.Cultivation">
                            <small class="help-block has-error" style="color:red" ng-show="remissionForm.Cultivation.$error.minlength">Este campo debe contener al menos 3 caracteres.</small>
                            <small class="help-block has-error" style="color:red" ng-show="remissionForm.Cultivation.$error.maxlength">Este campo es demasiado extenso, debe contener menos de 150 caracteres.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="batch" class="col-sm-2 control-label">Huerta/Lote *</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input required type="text" name="Batch" class="form-control input-sm" id="batch" placeholder="huerta o lote" ng-minlength="3"
                                ng-maxlength="150" data-ng-model="remission.Batch">
                            <small class="help-block has-error" style="color:red" ng-show="remissionForm.Batch.$error.minlength">Este campo debe contener al menos 3 caracteres.</small>
                            <small class="help-block has-error" style="color:red" ng-show="remissionForm.Batch.$error.maxlength">Este campo es demasiado extenso, debe contener menos de 150 caracteres.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="quantity" class="col-sm-2 control-label">Cantidad *</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input type="number" min="1" name="Quantity" class="form-control input-sm" id="quantity" placeholder="cantidad" data-ng-model="remission.Quantity">
                            <small class="help-block has-error" style="color:red" ng-show="remissionForm.Quantity.$error.number">Numero no valido.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="butler" class="col-sm-2 control-label">Mayordomo *</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input required type="text" name="Butler" class="form-control input-sm" id="butler" placeholder="mayordomo" ng-minlength="3"
                                ng-maxlength="150" data-ng-model="remission.Butler">
                            <small class="help-block has-error" style="color:red" ng-show="remissionForm.Butler.$error.minlength">Este campo debe contener al menos 3 caracteres.</small>
                            <small class="help-block has-error" style="color:red" ng-show="remissionForm.Butler.$error.maxlength">Este campo es demasiado extenso, debe contener menos de 150 caracteres.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="transportNumber" class="col-sm-2 control-label">Transporte No. *</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input required type="number" min="1" name="Transportnumber" class="form-control input-sm" id="transportNumber" placeholder="numero de transporte"
                                data-ng-model="remission.TransportNumber">
                            <small class="help-block has-error" style="color:red" ng-show="remissionForm.Transportnumber.$error.number">Numero no valido.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="driver" class="col-sm-2 control-label">Conductor *</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input type="text" name="Driver" class="form-control input-sm" id="driver" placeholder="conductor" ng-minlength="3" ng-maxlength="150" data-ng-model="remission.Driver">
                            <small class="help-block has-error" style="color:red" ng-show="remissionForm.Driver.$error.minlength">El nombre del conductor debe contener al menos 3 caracteres.</small>
                            <small class="help-block has-error" style="color:red" ng-show="remissionForm.Driver.$error.maxlength">El nombre del conductor es demasiado extenso, debe contener menos de 150 caracteres.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="elaborate" class="col-sm-2 control-label">Elaboro *</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input required name="Elaborate" type="text" class="form-control input-sm" id="elaborate" placeholder="elaboro" ng-minlength="3" ng-maxlength="150" data-ng-model="remission.Elaborate">
                            <small class="help-block has-error" style="color:red" ng-show="remissionForm.Elaborate.$error.minlength">Este campo debe contener al menos 3 caracteres.</small>
                            <small class="help-block has-error" style="color:red" ng-show="remissionForm.Elaborate.$error.maxlength">Este campo es demasiado extenso, debe contener menos de 150 caracteres.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-sm" data-ng-click="saveRemission(remission)" ng-disabled="!remissionForm.$valid">Guardar</button>
                    </div>
                </div>
                <div class="form-group">
                    <div data-ng-hide="message==''" class="alert alert-danger">
                        {{message}}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <button id="fixedbuttonLeft" type="submit" class="btn bgm-teal btn-icon" data-ng-click="redirectToReception()">
        <i class="md md-arrow-back"></i>
    </button>
</div>