<div class="animated bounceInRight">
    <div class="card">
        <form name="harvestSeasonForm" class="form-horizontal" role="form">
            <div class="card-header">
                <h2>Modificar Temporada</h2>
            </div>
            <div class="card-body card-padding">
                <div class="form-group">
                    <label for="hname" class="col-sm-2 control-label">Nombre *</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input name="name" type="text" class="form-control input-sm" id="hname" placeholder="nombre" ng-maxlength="100" ng-model="harvestSeason.name"
                                required>
                            <small class="help-block has-error" style="color:red" ng-show="harvestSeason.name.$error.maxlength">El nombre es demasiado extenso, debe contener menos de 100 caracteres.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="EntryDate" class="col-sm-2 control-label">Fecha de Entrada *</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input type="text" required disabled class="form-control input-sm" id="EntryDate" placeholder="fecha de captura" value="{{ entrydate | date: 'yyyy/MM/dd HH:mm' }}">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target href><i class="md md-event"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <datetimepicker data-ng-model="entrydate" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }" />
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="IssueDate" class="col-sm-2 control-label">Fecha de Salida *</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input type="text" required disabled class="form-control input-sm" id="IssueDate" placeholder="fecha de captura" value="{{ issuedate | date: 'yyyy/MM/dd HH:mm' }}">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target href><i class="md md-event"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <datetimepicker data-ng-model="issuedate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="observations" class="col-sm-2 control-label">Descripción *</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <textarea required name="description" class="form-control auto-size" placeholder="descripción..." ng-minlength="3" ng-maxlength="500"
                                data-ng-model="harvestSeason.description"></textarea>
                            <small class="help-block has-error" style="color:red" ng-show="harvestSeasonForm.description.$error.minlength">Este campo debe contener al menos 3 caracteres.</small>
                            <small class="help-block has-error" style="color:red" ng-show="harvestSeasonForm.description.$error.maxlength">La descripción es muy extensa, debe contener menos de 500 caracteres.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn bgm-teal waves-effect" data-ng-click="update(harvestSeason)" ng-disabled="!harvestSeasonForm.$valid">Actualizar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<button id="fixedbuttonLeft" type="submit" class="btn bgm-teal btn-icon" data-ng-click="return()">
        <i class="md md-arrow-back"></i>
</button>