<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div id="productionVariety"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div id="averageNumberOfNuts"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div id="grillIssuesAndInventory"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div id="acumulatedByProducer"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div id="cylinderOccupiedHours"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div></div>
        </div>
    </div>
</div>