<div class="container">
  <div class="row">
    <div class="col 16 s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">SignUp</span>
          <div class="divider"></div>
            <form class="form-signup" action="" method="" role="form">
              <div class="input-field col s12">
                <input id="username" type="text" class="validate" data-ng-model="registration.userName">
                <label for="username">Nombre de Usuario</label>
              </div>
              <div class="input-field col s12">
                <input id="password" type="password" data-ng-model="registration.password">
                <label for="password">Contraseña</label>
              </div>
              <div class="input-field col s12">
                <input id="confirmPassword" type="password" data-ng-model="registration.confirmPassword">
                <label for="confirmPassword">Confirmar Contraseña</label>
              </div>
              <button class="btn waves-effect waves-light" type="submit" data-ng-click="signUp()">Enviar</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
