<div class="animated bounceInRight">
    <div class="card">
        <form name="receptionForm" class="form-horizontal" role="form">
            <div class="card-header">
                <h2>Alta de Recepciones</h2>
            </div>
            <div class="card-body card-padding">
                <div class="form-group">
                    <label for="fieldName" class="col-sm-2 control-label">Folio</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input type="text" required class="form-control input-sm" id="folio" name="Folio" placeholder="Folio" data-ng-model="reception.Folio">
                            <small class="help-block has-error" style="color:red" ng-show="!receptionForm.$pristine && receptionForm.Folio.$error.required">Folio es requerido.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="EntryDate" class="col-sm-2 control-label">Fecha</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input type="text" required disabled class="form-control input-sm" id="EntryDate" placeholder="fecha de captura" value="{{ data.dateDropDownLink | date:'dd-MM-yyyy HH:mm a' }}">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#"><i class="md md-event"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <datetimepicker data-ng-model="data.dateDropDownLink" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }" />
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fieldF" class="col-sm-2 control-label">Campo</label>
                    <div class="col-sm-10">
                        <div class="fg-line select">
                            <select id="fieldF" class="form-control" ng-model="reception.Field" ng-options="field.FieldName for field in fields"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="carRegistration" class="col-sm-2 control-label">Camion/Placas</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" id="carRegistration" name="CarRegistration" placeholder="matricula" data-ng-model="reception.CarRegistration">
                            <small class="help-block has-error" style="color:red" ng-show="!receptionForm.$pristine && receptionForm.CarRegistration.$error.required">Las placas son requerido.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="receivedFromField" class="col-sm-2 control-label">Kilos recibidos de campo</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input required type="number" min="1" step="any" ng-class="{error: !receptionForm.$pristine && receptionForm.ReceivedFromField.$error.required}"
                                class="form-control input-sm" name="ReceivedFromField" id="receivedFromField" placeholder="kilos recibidos"
                                data-ng-model="reception.ReceivedFromField">
                            <small class="help-block has-error" style="color:yellow" ng-show="!receptionForm.$pristine && receptionForm.ReceivedFromField.$error.number">Tiene que ser un valor númerico.</small>
                            <small class="help-block has-error" style="color:red" ng-show="!receptionForm.$pristine && receptionForm.ReceivedFromField.$error.required">Kilos recibidos de campo es requerido.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="humidity" class="col-sm-2 control-label">Humedad</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input type="number" step="any" class="form-control input-sm" id="humidity" name="HumidityPercent" placeholder="humedad"
                                data-ng-model="reception.HumidityPercent">
                            <small class="help-block has-error" style="color:red" ng-show="!receptionForm.$pristine && receptionForm.HumidityPercent.$error.number">Tiene que ser un valor númerico.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="heatHoursDrying" class="col-sm-2 control-label">Horas de calor por secado</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input type="number" min="1" step="any" class="form-control input-sm" id="heatHoursDrying" placeholder="horas de calor por secado"
                                name="HeatHoursDrying" data-ng-model="reception.HeatHoursDrying">
                            <small class="help-block has-error" style="color:yellow" ng-show="!receptionForm.$pristine && receptionForm.HeatHoursDrying.$error.number">Tiene que ser un valor númerico.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="observations" class="col-sm-2 control-label">Observaciones</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <textarea required class="form-control auto-size" placeholder="observaciones..." name="Observations" data-ng-model="reception.Observations"></textarea>
                            <small class="help-block has-error" style="color:red" ng-show="!receptionForm.$pristine && receptionForm.Observations.$error.required">Observaciones son requerido.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="fg-line" style="margin-top: 20px;">
                        <button type="submit" class="btn btn-primary btn-sm pull-right" ng-click="addReception(reception)" ng-disabled="!receptionForm.$valid">Agregar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Recepciones Pendientes</h2>
        </div>
        <div class="card-body card-padding">
            <div class="col-xs-12 col-md-8">
                <div class="card">
                    <table id="data-table-command" class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th>Folio</th>
                                <th>Campo</th>
                                <th>Camion/Placas</th>
                                <th>Recibido</th>
                                <th>Fecha de Captura</th>
                                <th>Horas de Secado</th>
                                <th>Remover</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="reception in receptions track by reception.Folio">
                                <td>{{reception.Folio}}</td>
                                <td>{{reception.FieldName}}</td>
                                <td>{{reception.CarRegistration}}</td>
                                <td>{{reception.ReceivedFromField}}</td>
                                <td>{{reception.EntryDate}}</td>
                                <td>{{reception.HeatHoursDrying}}</td>
                                <td> 
                                    <button class="btn btn-icon command-delete" ng-click="removeReception(reception.Folio)" data-toggle="tooltip" data-placement="bottom" title="Remover">
                                        <span class="md md-delete"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="card">
                    <form name="dropdownForm" class="form-horizontal" role="form">
                        <div class="card-body card-padding">
                            <div class="form-group">
                                <label for="prodF" class="col-sm-2 control-label">Productores</label>
                                <div class="fg-line select">
                                    <select id="prodF" class="form-control" ng-model="receptionEntry.Producer" ng-options="producer.ProducerName for producer in producers"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="varieF" class="col-sm-2 control-label">Variedades</label>
                                <div class="fg-line select">
                                    <select id="varieF" class="form-control" ng-model="receptionEntry.Variety" ng-options="variety.VarietyName for variety in varieties"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cilindF" class="col-sm-2 control-label">Cilindros</label>
                                <div class="fg-line select">
                                    <select id="cilindF" class="form-control" ng-model="receptionEntry.Cylinder" ng-options="cylinder.CylinderName for cylinder in cylinders"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="">
                <div class="fg-line" style="margin-top: 20px;">
                    <button type="submit" class="btn btn-primary btn-sm pull-right" ng-click="saveReceptionEntry(receptionEntry)">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>