<div class="animated bounceInRight">
    <div class="card">
        <div class="card-header">
            <h2>Recepciones</h2>
        </div>
        <div class="col-sm-12 actionbar">
            <div class="form-group">
                <label for="isearch" class="col-sm-2 control-label">Buscar</label>
                <div class="col-sm-12">
                    <div class="fg-line">
                        <input type="text" class="form-control input-sm" id="isearch" placeholder="buscar...." data-ng-model="searchUser">
                    </div>
                </div>
            </div>
        </div>

        <table id="data-table-command" class="table table-striped table-vmiddle">
            <thead>
                <tr>
                    <th data-column-id="">Id</th>
                    <th data-column-id="">Folio</th>
                    <th data-column-id="">Productor</th>
                    <th data-column-id="">Campo</th>
                    <th data-column-id="">Variedad</th>
                    <th data-column-id="">Camion/Placas</th>
                    <th data-column-id="">Recibido</th>
                    <th data-column-id="">Cilindro</th>
                    <th data-column-id="">Fecha de Captura</th>
                    <th data-column-id="">Horas de Secado</th>
                    <th>Parrillas</th>
                    <th data-column-id="">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="reception in receptions | filter:searchUser">
                    <td>{{reception.Id}}</td>
                    <td>{{reception.Folio}}</td>
                    <td>{{reception.ProducerName}}</td>
                    <td>{{reception.FieldName}}</td>
                    <td>{{reception.Variety}}</td>
                    <td>{{reception.CarRegistration}}</td>
                    <td>{{reception.ReceivedFromField}}</td>
                    <td>{{reception.Cylinder}}</td>
                    <td>{{reception.EntryDate}}</td>
                    <td>{{reception.HeatHoursDrying}}</td>
                    <td>{{reception.Grills}}</td>
                    <td ng-hide="IsGrillToReception">
                        <button class="btn btn-icon command-edit" ng-click="redirectUpdate(reception)">
                            <span class="md md-edit"></span>
                        </button>
                        <button class="btn btn-icon command-delete" ng-click="confirmationDelete(reception.Id)">
                            <span class="md md-delete"></span>
                        </button>
                        <button class="btn btn-icon command-edit" ng-click="redirectReceptionToGrill(reception.Id)">
                            <span class="md md-view-module"></span>
                        </button>
                        <button class="btn btn-icon command-edit" ng-click="redirectAddRemission(reception)">
                            <span class="md md-description"></span>
                        </button>
                    </td>
                    <td ng-show="IsGrillToReception">
                        <div class="toggle-switch">
                            <input id="{{reception.Id}}" type="checkbox" hidden="hidden" ng-model="reception.IsAlreadyAssigned" ng-change="addReceptionToGrill(reception.Id, reception.IsAlreadyAssigned)">
                            <label for="{{reception.Id}}" class="ts-helper"></label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>