<div class="animated bounceInRight">
    <div class="card">
        <form name="updateReceptionForm" class="form-horizontal" role="form">
            <div class="card-header">
                <h2>Actualizar Recepción</h2>
            </div>
            <div class="card-body card-padding">
                <div class="form-group">
                    <label for="fieldF" class="col-sm-2 control-label">Campo *</label>
                    <div class="col-sm-10">
                        <div class="fg-line select">
                            <select id="fieldF" class="form-control" ng-model="receptionUpdateModel.Field" ng-options="field.FieldName for field in fields"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="carRegistration" class="col-sm-2 control-label">Camion/Placas *</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input required type="text" name="Carregistration" class="form-control input-sm" id="carRegistration" placeholder="matricula"
                                ng-minlength="3" ng-maxlength="50" data-ng-model="receptionUpdateModel.CarRegistration">
                            <small class="help-block has-error" style="color:red" ng-show="updateReceptionForm.Carregistration.$error.minlength">Este campo debe contener al menos 3 caracteres.</small>
                            <small class="help-block has-error" style="color:red" ng-show="updateReceptionForm.Carregistration.$error.maxlength">Este campo es demasiado extenso, debe contener menos de 50 caracteres.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="receivedFromField" class="col-sm-2 control-label">Kilos recibidos de campo *</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input required type="number" min="1" name="ReceivedFromField" class="form-control input-sm" id="receivedFromField" placeholder="kilos recibidos"
                                data-ng-model="receptionUpdateModel.ReceivedFromField">
                            <small class="help-block has-error" style="color:red" ng-show="updateReceptionForm.ReceivedFromField.$error.number">Numero no valido.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="heatHoursDrying" class="col-sm-2 control-label">Horas de calor por secado</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <input type="number" class="form-control input-sm" id="heatHoursDrying" placeholder="horas de calor por secado" name="Heathoursdrying"
                                data-ng-model="receptionUpdateModel.HeatHoursDrying">
                            <small class="help-block has-error" style="color:red" ng-show="updateReceptionForm.Heathoursdrying.$error.number">Numero no valido.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="observations" class="col-sm-2 control-label">Observaciones *</label>
                    <div class="col-sm-10">
                        <div class="fg-line">
                            <textarea required name="Observations" class="form-control auto-size" placeholder="observaciones..." ng-minlength="2" ng-maxlength="500"
                                data-ng-model="receptionUpdateModel.Observations"></textarea>
                            <small class="help-block has-error" style="color:red" ng-show="updateReceptionForm.Observations.$error.minlength">Este campo debe contener al menos 3 caracteres.</small>
                            <small class="help-block has-error" style="color:red" ng-show="updateReceptionForm.Observations.$error.maxlength">Este campo es demasiado extenso, debe contener menos de 500 caracteres.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-sm" data-ng-click="updateReception(receptionUpdateModel)" ng-disabled="!updateReceptionForm.$valid">Actualizar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<button id="fixedbuttonLeft" type="submit" class="btn bgm-teal btn-icon" data-ng-click="return()">
        <i class="md md-arrow-back"></i>
</button>