<div class="animated bounceInRight">
    <div class="card">
        <div class="card-header">
            <h2>Parillas de Nuez Procesadas</h2>
        </div>
        <div class="col-sm-12 actionbar">
            <div class="form-group">
                <label for="isearch" class="col-sm-2 control-label">Buscar</label>
                <div class="col-sm-12">
                    <div class="fg-line">
                        <input type="text" class="form-control input-sm" id="isearch" placeholder="buscar...." data-ng-model="searchUser">
                    </div>
                </div>
            </div>
        </div>
        <table id="data-table-command" class="table table-striped table-vmiddle">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha de Captura</th>
                    <th>Recepciones</th>
                    <th>Tamaño</th>
                    <th>Sacos</th>
                    <th>Kilos</th>
                    <th>Calidad</th>
                    <th>Variedad</th>
                    <th>Productor</th>
                    <th>Campo</th>
                    <th>Peso de la Muestra</th>
                    <th>Humedad</th>
                    <th>No.Nueces</th>
                    <th>Rendimiento</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="grill in grills | filter:searchUser">
                    <td>{{grill.Id}}</td>
                    <td>{{grill.DateCapture}}</td>
                    <td>{{grill.Receptions}}</td>
                    <td>{{grill.Size}}</td>
                    <td>{{grill.Sacks}}</td>
                    <td>{{grill.Kilos}}</td>
                    <td>{{grill.Quality}}</td>
                    <td>{{grill.Variety}}</td>
                    <td>{{grill.Producer}}</td>
                    <td>{{grill.FieldName}}</td>
                    <td>{{grill.Sampling.SampleWeight}}</td>
                    <td>{{grill.Sampling.HumidityPercent}}</td>
                    <td>{{grill.Sampling.WalnutNumber}}</td>
                    <td>{{grill.Sampling.Performance}}</td>
                    <td>{{grill.Sampling.TotalWeightOfEdibleNuts}}</td>
                    <td>
                        <div class="toggle-switch">
                            <input id="{{grill.Id + g}}" type="checkbox" hidden="hidden" ng-model="grill.Status" ng-change="changeStatus(grill.Status, grill.Id)">
                            <label for="{{grill.Id + g}}" class="ts-helper"></label>
                        </div>
                    </td>
                    <td ng-hide="IsGrillToReception">
                        <button class="btn btn-icon command-edit" ng-click="redirectUpdate(grill.Id, grill)">
                                <span class="md md-edit"></span>
                            </button>
                        <button class="btn btn-icon command-delete" ng-click="confirmationDelete(grill.Id)">
                                <span class="md md-delete"></span>
                            </button>
                        <button class="btn btn-icon command-edit" ng-click="redirectReceptionToGrill(grill.Id)">
                                <span class="md md-assignment"></span>
                            </button>
                        <button ng-show="{{grill.Sampling.SampleWeight}} == null" class="btn btn-icon command-edit" ng-click="redirectAddSampling(grill.Id)">
                            <span class="md md-description"></span>
                        </button>
                    </td>
                    <td ng-show="IsGrillToReception">
                        <div class="toggle-switch">
                            <input id="{{grill.Id}}" type="checkbox" hidden="hidden" ng-model="grill.IsAlreadyAssigned" ng-change="addGrillToReception(grill.Id, grill.IsAlreadyAssigned)">
                            <label for="{{grill.Id}}" class="ts-helper"></label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

