<div class="animated bounceInRight">
    <div class="card">
        <div class="card-header">
            <h2>Salida de Parrillas</h2>
        </div>
        <div class="card-body card-padding">
            <div role="tabpanel">
                <ul class="tab-nav" role="">
                    <li><a href="#addIssueGrill" target="_self" aria-controls="addIssueGrill" role="tab" data-toggle="tab">Agregar Salida</a></li>
                    <li><a href="#IssueGrills" target="_self" aria-controls="IssueGrils" role="tab" data-toggle="tab">Salidas</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="addIssueGrill">
                    <div class="card-body card-padding">
                        <form name="grillForm" class="row" role="form">
                            <div class="col-sm-3">
                                <div class="form-group fg-line">
                                    <input required type="number" min="1" name="Remission" class="form-control input-sm" id="field" placeholder="Remision *"
                                        data-ng-model="grillIssue.Remission">
                                    <small class="help-block has-error" style="color:red" ng-show="grillForm.Remission.$error.number">Numero no valido.</small>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group fg-line">
                                    <input required type="text" class="form-control input-sm" id="field" name="Truck" placeholder="Camion *" ng-minlength="3"
                                        ng-maxlength="150" data-ng-model="grillIssue.Truck">
                                    <small class="help-block has-error" style="color:red" ng-show="grillForm.Truck.$error.minlength">Este campo debe contener al menos 3 caracteres.</small>
                                    <small class="help-block has-error" style="color:red" ng-show="grillForm.Truck.$error.maxlength">Este campo es demasiado extenso, debe contener menos de 150 caracteres.</small>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group fg-line">
                                    <input required type="text" class="form-control input-sm" id="field" name="Driver" placeholder="Chofer *" ng-minlength="3"
                                        ng-maxlength="150" data-ng-model="grillIssue.Driver">
                                    <small class="help-block has-error" style="color:red" ng-show="grillForm.Driver.$error.minlength">Este campo debe contener al menos 3 caracteres.</small>
                                    <small class="help-block has-error" style="color:red" ng-show="grillForm.Driver.$error.maxlength">Este campo es demasiado extenso, debe contener menos de 150 caracteres.</small>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group fg-line">
                                    <input type="text" class="form-control input-sm" id="field" name="Box" placeholder="Caja *" ng-minlength="3" ng-maxlength="150"
                                        data-ng-model="grillIssue.Box">
                                    <small class="help-block has-error" style="color:red" ng-show="grillForm.Box.$error.minlength">Este campo debe contener al menos 3 caracteres.</small>
                                    <small class="help-block has-error" style="color:red" ng-show="grillForm.Box.$error.maxlength">Este campo es demasiado extenso, debe contener menos de 150 caracteres.</small>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group fg-line">
                                    <input type="text" required disabled class="form-control input-sm" id="EntryDate" placeholder="fecha de captura" value="{{ date | date: 'yyyy/MM/dd HH:mm' }}">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target href><i class="md md-event"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <datetimepicker data-ng-model="date" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group fg-line">
                                    <div class="btn-demo">
                                        <button id="btnAddGrill" class="btn btn-success waves-effect" type="button" data-toggle="collapse" data-target="#collapseExample"
                                            aria-expanded="false" aria-controls="collapseExample">Agregar Parrillas
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group fg-line">
                                    <button type="submit" class="btn btn-primary waves-effect" data-ng-click="saveGrillIssue()" ng-disabled="!grillForm.$valid">Guardar</button>
                                </div>
                            </div>
                        </form>
                        <div class="collapse m-t-10" id="collapseExample">
                            <div class="card-body card-padding">
                                <div class="table-responsive">
                                    <table id="grillIssuestGrillTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane active" id="IssueGrills">
                    <div class="row">
                        <div class="col-sm-12 actionbar">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="fg-line">
                                        <input type="text" class="form-control input-sm" id="isearch" placeholder="buscar...." data-ng-model="searchGrillIssues">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body card-padding">
                        <div class="table-responsive">
                            <table id="grillIssuestTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>